
*{
    background-color: lightskyblue;
    align-content: center;
    font-family: "century gothic"
}
h1{
  text-justify: right;  
  color: green
  
}

img{
    padding: 40px;
    size: 20%
    
    
}